
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorPageNotFound</title>
</head>
<body>

    <hgroup>
        <h1>Health Care</h1>
        <h2>Page not found</h2>
    </hgroup>

</body>
</html>
